/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*デフォルト値リセットコード*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}
/*リセットコード終了*/

header {
  background-color: black;
  position: absolute;
  width: 100%;
  padding: 20px 0;

  .header_container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: white;

    .header_left {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      img {
        height: 40px;
      }
    }

    nav {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      a {
        color: white
      }
    }
  }
}

// nav {
//   display: flex;
//   justify-content: space-between;
//   color: white;
// }
