// devise_sessions_new(サインイン画面)
.sign_in_page {

  .container {
    text-align: center;

    .sign_in_form {
      padding-top: 50px;
    }
  }
}

// devise_registrations_new(サインアップ画面)
.sign_up_page {

  .container {
    text-align: center;

    .sign_up_form {
      padding-top: 50px;
    }
  }
}
