// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//rooms_new
.new_room_registarion_form {
      padding-top: 50px;
}

table {
  border: 2px solid black;
  background-color: aliceblue;
  text-align: center;

  th {
    padding: 10px 20px;
  }

  td {
    padding: 10px 20px;

    input, textarea {
      width: 100%;
      height: 100%;
    }
  }
}
